nb*.xml
*.log
/src/test/resources/test/*.csv
/src/test/resources/test/*.fits
/src/test/resources/test/*.properties
/src/test/resources/test/*.xml
/src/test/resources/test/fits/*
/src/test/resources/test/oifits/*
/target/

src/test/.DS_Store
src/test/resources/.DS_Store
.DS_Store
